.carousel { 
width: 40%; 
height:40%; 
max-width: 600px;
max-height: 320px;
}
@media (max-width: 768px){
    .carousel{
        width: 50%; 
        height:50%; 
    }
}

.menu {
    width: 100%;
}
.menu li {
    display: inline-block;
}
.menu li a {
    color: rgb(99, 218, 248);
    padding: 5px;
    display: block;
}
.nav {
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(39, 44, 54);
}
.indirizzo {
    margin-top: -1.2rem;
}
#sottotitolo {
    margin-top: -0.7rem;
}
